.menu_bar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5%;
    box-sizing: border-box;
    opacity: 70%;
    color: white;
}

.logo{
    color: aliceblue;
    font-size: 30px;
}

.logo span{
     color: blue;
}

.menu_bar ul{
    list-style: none;
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
}

.menu_bar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 110%;
    transition: all 0.3s;
    padding: 5px 20px;
}

.menu_bar ul li a:hover{
    color: blue;
}

#body{
    align-items: center;
    background-color: black;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}

.flex-container{
    display: flex;
    background-color: rgb(29, 29, 127);
  }

  .flex-container > div {
    background-color: black;
    margin: 0px;
    padding: 0px;
    width: 200%;
  }

  #title{
    font-size: 400%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(110, 178, 238);
    margin-left: 18%;
  }

  #para1 {
    font-size: 150%;
    font-family: cursive;
    margin-left: 20%;
    margin-right: 20%;
  }

  #section{
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 25%;
    padding: 20px;
    height: 300px;
    margin: auto;
    text-align: center;
    padding-left: 5%;
    align-items: center;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #title2{
    font-size: 200%;
    font-family: monospace;
    color: rgb(60, 51, 40);
    margin-left: 8%;
  }

  #title4{
    font-size: 300%;
    font-family: fantasy;
    margin-left: 10%;
    color: rgb(82, 8, 152);
  }

  .grid-container {
    display: flexbox;
    grid-template-columns: auto;
    gap: 5px;
    background-color: black;
    padding: 5px;
    margin-left: 0%;
    margin-right: 0%;

}

.grid-container > div {
    background-color: rgb(160, 223, 240);
    border: 1px snow;
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    color: black;
}

#table1 {
  width: 80%;
 font-size: 150%;
 text-align: center;
 align-items: center;
 margin-left: 10%;
}

#th1, #td1 {
  padding: 3%;
}

#table1, th1, td1 {
  border: 2% aliceblue;
  border-style: groove;
}

#th1 {
  background-color: aliceblue;
  color: black;
}

#td1{
  background-color: rgb(78, 76, 76);
}

.new{
  margin-top: 5%;
  background-color: grey;
  
}


footer{
display: grid;
grid-template-columns: auto auto auto ;
background-color: grey;

}
.footiicol ul{
text-decoration: none;
list-style: none;
}

.mobnav ul li a{
  display: block;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 20px;
}
.mobnav ul li{
  list-style: none;
}
.mobnav{
  display: none;
}


   /*media quary*/

   @media screen and (max-width:1000px) and (min-width:300px){

    .menu_bar{
        display: none;
     }
     .mobnav{
        display: block;
        background-color: rgb(40, 33, 25);
      }

      iframe{
        width: 80%;
      }
    }